body{
    background-color: rgb(163, 181, 145);
}

.heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 60px;
     text-align: center;
}

.input{
    background-color: darkgoldenrod;
    font-size: 40px;
    
}
.para{
    text-align: center;
}
#checkMagicWord{
    background-color: rgb(98, 162, 92);
    font-size: 30px;
    
}